.products {
    margin-top: 40px;
}

.product {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &__item {
        background: #ffffff;
        display: grid;
        grid-template-columns: 390px auto;

        @media (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        &-left {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding: 40px;

            &-title {
                font-size: 36px;
                line-height: 140%;
                color: #000000;
            }

            &-buttons {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }
        }

        &-right {
            &-header {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                padding: 40px;

                &-title {
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 140%;
                    color: #03185B;
                }

                &-text {
                    font-size: 17px;
                    line-height: 140%;
                    color: #000A23;

                    &-block {
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;

                        ul {
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;

                            li {
                                background: url(/assets/img/bulit.svg) no-repeat 0 3px;
                                padding-left: 26px;
                                font-size: 17px;
                                line-height: 140%;
                                color: #000A23;
                            }
                        }
                    }
                }
            }

            &-footer {
                padding: 40px;
                background: #4666AF;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
                row-gap: 30px;

                @media (max-width: 1170px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (max-width: 479px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                &-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    &-title {
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 140%;
                        color: #FFFFFF;
                    }

                    &-text {
                        font-size: 17px;
                        line-height: 140%;
                        color: #F6FAFC;
                    }
                }
            }
        }
    }
}
