.input {
    &-text {
        background: none;
        border: 1px solid #D3EBF4;
        padding: 10px 15px;
        font-size: 17px;
        color: #FFFFFF;

        &:placeholder {
            color: #D3EBF4;
            font-size: 15px;
        }
    }

    &-checkbox {
        margin-top: 2px;
        padding: 10px 7px;
        width: 28px;
        height: 28px;
        border-radius: unset;
    }
}

.form-group-input {
    display: flex;
    column-gap: 12px;
    align-items: start;

    label {
        font-size: 17px;
        line-height: 140%;
        color: #D3EBF4;
    }
}
