.burger {
    display: none;
}

@media (max-width: 930px) {


    .burger {
        position: fixed;
        display: flex;
        top: 20px;
        right: 30px;
        cursor: pointer;
        z-index: 150;

        @media (max-width: 768px) {
            right: 20px;
        }

        &.active {
            position: fixed;
            top: 19px;
            z-index: 3000;
        }
    }

    .burger span {
        height: 40px;
        display: flex;
        align-items: center;
        transition: all 0.15s ease 0s;
    }

    .burger-span-top.active {
        transform: rotate(45deg);
        transform-origin: 5px 11px;
        //fill: #F8F7FF;
    }

    .burger-span-center.active {
        display: none;
    }

    .burger-span-bottom.active {
        transform: rotate(-45deg);
        transform-origin: 8px 18px;
        //fill: #F8F7FF;
    }
}
