.nav-list {
  display: flex;
  justify-content: end;
  column-gap: 80px;

    &-header {

        @media (max-width: 1100px) {
            column-gap: 60px;
        }

        @media (max-width: 1024px) {
            column-gap: 40px;
        }

        &.active {
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
        }

    }

    //&-footer {
    //    flex-direction: column;
    //    row-gap: 20px;
    //}
}

.nav-item {
    button {
        text-transform: inherit;
    }
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #000A23;
    transition: all 0.15s ease;

    &.active-link {
        color: #4666AF;
    }

  &:hover {
    color: #4666AF;
  }
}

.nav-link-about {
    padding: 10px 20px;
    font-family: 'Open Sans';
    border: none !important;
    background: #4666AF !important;
    border-radius: 0 !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 140% !important;
    color: #FFFFFF !important;

    &.active {
        background: none !important;
        font-size: 17px !important;
        line-height: 140% !important;
        color: #000A23 !important;
    }
}

